<div class="table">
    <div class="table-header">
      <div class="table-header-name">Voters</div>
      <mat-icon class="add-voter-sign" aria-hidden="false" aria-label="Add voter" fontIcon="add_circle_outline" (click)="addVoter()"></mat-icon>
    </div>
  
    <table class="voters-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Has voted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voter of voters">
          <td class="voter-name">{{ voter.name }}</td>
          <td class="voter-status">
            <mat-icon *ngIf="voter.hasVoted" aria-hidden="false" aria-label="Voted" fontIcon="check"></mat-icon>
            <mat-icon *ngIf="!voter.hasVoted" aria-hidden="false" aria-label="Not voted" fontIcon="close"></mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>