<div class="table">
    <div class="table-header">
        <div class="table-header-name">Candidates</div>
        <mat-icon class="add-candidate-sign" aria-hidden="false" aria-label="Add candidate" fontIcon="add_circle_outline" (click)="addCandidate()"></mat-icon>
    </div>

    <table class="candidates-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates">
            <td class="candidate-name">{{ candidate.name }}</td>
            <td class="candidate-status">{{ candidate.votes }}</td>
          </tr>
        </tbody>
    </table>

</div>
