.table {
    border: 1px solid #888;
    width: 320px;
}

.table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #888;
    height: 48px;
    position: relative;
    &-name {
        font-weight: 600;
    }
}

.add-candidate-sign {
    position: absolute;
    right: 10px;
    &:hover {
    cursor: pointer;
    }
}

th, td {
    height: 40px;
    text-align: center;
}

.candidates-table {
    width: 100%;
}

.candidate-name {
    width: 66.6%;
}

.candidate-status {
    width: 33.3%;
}