<h2 mat-dialog-title class="title">Add {{ data.title }}</h2>
<mat-dialog-content class="mat-typography dialog-content">

  <form class="form">
    <mat-form-field class="form-full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="name" cdkFocusInitial>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button id="btn-cancel" [mat-dialog-close]="false">Cancel</button>
  <button mat-button id="btn-add" [mat-dialog-close]="{ name: name }" [disabled]="name === ''">Add</button>
</mat-dialog-actions>